<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="layout-header">
		<div th:if="${session.loginUser == null}" class="content">
			<div class="title">社員管理システム</div>
		</div>
		
		<div th:unless="${session.loginUser == null}" class="content">
			<div class="title">社員管理システム</div>
			<div class="user_info">
				ようこそ、<a th:href="@{/update/input?empId=}+${session.loginUser.empId}"><span th:text="${session.loginUser.empName}"></span></a>さん<span class="pipeline">|</span><a th:href="@{/logout}">ログアウト</a>
			</div>
		</div>
	</header>
</body>
</html>