<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head> 
<meta charset="UTF-8"> 
<title>Insert title here</title> 
</head> 
<body> 
	<aside th:fragment="layout-sidebar" class="admin_menu">
	  <div class="title">社員名検索</div>
	 
	  <div class="form">
	    <form th:action="@{/list/empName}" method="get">
	      <input type="text" name="empName">      
	      <input type="submit" value="検索">
	    </form>
	  
	  </div>
	  <div class="title">部署名検索</div>
	  <div class="form">
	    <form th:action="@{/list/deptId}" method="get">

	     <span>
	      	<select name="deptId">
	        	<th:block th:each="dept:${session.deptList}">
      				<option th:value="${dept.deptId}" th:text="${dept.deptName}"></option>
    			</th:block>
	      	</select>
	     </span>

	     <input type="submit" value="検索">
	    </form>
	  </div>
	</aside>
</body>  
</html> 